*{
    box-sizing: border-box;
    font-family: helvetica;
}

body{
    margin:0;
     background: #2b2e36;
}

img{
   max-width: 100%;
    width:auto;
}

.container{
    display:flex;
    flex-wrap:wrap;
    max-width: 1280px;
 
    
  width: 100%;

margin:0px auto;
background: #2b2e36;
   /*  box-shadow: 0 7px 8px 0 rgba(50, 50, 50, 50.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);*/
 
    padding-top: 0px;
  overflow:hidden;
   
}

.rtl{
    flex-direction: row-reverse;
}

.container div{
    padding:10px;
}

#menu{
    

}
.btn1{
      background-color: #f7edd5; 
  border: none;
  color: #2b2e36;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
    font-size: 5px;
  
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
    margin-top: 50px;
}
.btn1a:hover {
  box-shadow: 0 5px 16px 0 rgba(9, 114, 206),0 1px 50px 0 rgba(0,0,0,0.19);
}
.logo{
    max-width: 100%
      display: block;
  margin-left: auto;
  margin-right: auto;
    margin-top:-210px;
   margin-bottom:-20px;
 
    
}
#text1{
    padding-bottom:50px;
     margin-top:45px;
    margin-bottom: 25px;
    color:#f7edd5;
    
}
.c33{
    width:33.333333%;
    text-align:center;
}
.c50{
    width:50%;
    font-size: 21px;
}
.c100{
    width:100%;
}
.gallery{
    background:#999EAD;
    padding:30px 50px;
}
.gallery h2{
    color:#2b2e36;
}
.p2{
   color:#2b2e36; 
}

.p3{
    font-size;100%
    
}

.p4{
   margin-top: -25px;
 

   
}
.me{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(247, 237, 213, 1);
}
.imp{
    font-size:45px;
}
@media screen and (max-width:600px){
    .c33, .c50, .logo, .btn1, #menu{
        width:130%;
    }
}

/*-------CONTACT----------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 3px 5px 5px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #fff;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #000;
    color: white;
}

.fcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
